/* fuentes importadas */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

:root{
    --verdeoscuro:#306b34;
    --negro:#000000;
    --grisaceo:#585858;
    --verdeClaro:#C3EB78;
    --rojosangre:#c72621;
    --naranja:rgb(255, 153, 35);
    --degradado:linear-gradient(90deg , var(--verdeClaro) , var(--Azuloscuro));
}

html{
    /* overflow: hidden;  Cuando se establece overflow: hidden en un elemento, se oculta cualquier contenido que exceda los límites del contenedor y no se muestra en la página.ç */
    font-size: 75.4%;
    box-sizing: border-box;
}

header h2{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    
}

*{
   
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
    border: 0;
   

}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(to top, rgb(173, 173, 173)30% , rgb(255, 255, 255) 60%); */
    color:rgb(255, 255, 255);
    
}

header{
    background-color: var(--negro);
    color: rgb(255, 255, 255);
    
}

.hero{
    
    margin: 0 auto;
    display: block;
    height: 500px;
    overflow: hidden;
    background-image: url(img/hero.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;

    
   
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Asegura que el pseudo-elemento esté por encima del elemento */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000b7); /* Degradado de ejemplo */
}
.contenedor-hero{
    z-index: 1;
    font-weight: bold;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
   justify-content: center;  /* cuando se plica el  flex-direction: column; se invieten el justifycontent y alignt items */

}
.contenedor-hero p{
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.titulo{
    z-index: 1;
    color: white;
}

.titulo p {
    text-align: center;
    z-index: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
  


}

nav  a{
    display: inline-flex;
    padding: 20px 2rem;
    text-decoration: none;
    color:white;
    justify-content: space-between;
    font-weight: bold;
    font-size: 19px;
    font-weight: bolder;
    
    
    
}



@media (max-width:896px){


    nav a {
        display:flex;
        flex-direction: column;
        padding: 20px 1rem;
        text-decoration: none;
        color:white;
        justify-content: center;
        font-size: 13px;
        font-weight: bolder;
    }    
    .ubicacion p{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .cuerpo{
  
        margin:  0 auto;
    
    }

    .content{
        
        
        
        /* SOMBRA  */
        -webkit-box-shadow: 1px 7px 29px 8px rgba(0,0,0,0.47);
        -moz-box-shadow: 1px 7px 29px 8px rgba(0,0,0,0.47);
        box-shadow: 1px 7px 29px 8px rgba(0,0,0,0.47);
        
        
        
        /* PARAMETROS */
        max-width: 80%;
        height: 100%;
        margin: 0  ;
        border-radius: 10px;
        background-color: rgb(220, 220, 220);
        color: black;
        padding: 10px 20px;
        }
        
        .contenedor-servicios section h3{
            font-size: 10px;
            font-weight: bold;
        }
   



}

@media (max-width:300px){


    nav a {
        display:flex;
        flex-direction: column;
        padding: 20px 1rem;
        text-decoration: none;
        color:white;
        justify-content: center;
    }    
    header h2{
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        align-items: center;
    }
    header h2 span{
        font-size: 10px;
        display: flex;
        align-items: center;
        padding: 5px 0 0 5px;
        text-align: center;
    }
    






}

@media (min-width:760px ) {
     .contenedor-servicios{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    }
    

    .contenedor-campos-formulario{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1/3;
    }
    

      
}










nav a:hover {
 
    color:black;
    text-shadow:  0 0 15px rgba(255,255, 255, 1);
    transition:1s;
    background-color: var(--naranja);
    
}


.barra-nav{
    background-color: var(--rojosangre);
    box-shadow: 0 0 20px var(--Azuloscuro);
    text-align: center;
    
    
   
}
span{
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 5px 0 0 10px;
    text-align: center;
}
.ubicacion{
    z-index: 1;
    display: flex;
    align-items: flex-end;
}
.ubicacion p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contactar{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    color: black;
    padding: 20px 30px;
    margin-top: 60px;
    background-color: var(--naranja);
    border-radius: 10px;
    transition: 1s;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    cursor:pointer;
}

.contactar:hover {
    background-color: #585858;
    color: white;
    transition: 1s;
    font-size: 33px;
    padding: 20px;


}



.content{



/* SOMBRA  */
-webkit-box-shadow: 1px 7px 29px 8px rgba(0,0,0,0.47);
-moz-box-shadow: 1px 7px 29px 8px rgba(0,0,0,0.47);
box-shadow: 1px 7px 29px 8px rgba(0,0,0,0.47);



/* PARAMETROS */
max-width: 60%;
height: 100%;
margin: 0 20px 20px 20px;
border-radius: 10px;
background-color: whitesmoke;
color: black;
padding: 10px 20px;
}

.cuerpo{
  
    margin:  0 auto;

}
.cuerpo-margen{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.titulo-servicios{
    text-align: center;
    margin-bottom: 40px;
}
.contenedor-servicios{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    margin: 10px;
}
.contenedor-servicios section{
    
    padding-bottom: 20px;
    margin: 10px;
}

.contenedor-servicios section h3{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 10px;
    font-weight: bold;
}
.contenedor-servicios section svg{
    background-color: var(--naranja);
    padding: 20px;
    border-radius: 60px;
    margin: 10px;
}
.contenedor-servicios section p{
    font-size: 15px;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 10px;
    font-weight: bold;
    
}

.formulario{
    display: grid;
    background-color:var(--grisaceo);
    padding: 20px;
    margin:0 auto;
    max-width: min(60rem , 100%);
    border-radius: 10px;
   


}

.formulario fieldset{
    border: none;

}

.formulario legend{
    font-size: 28px;
    font-weight: bold;
    color: var(--naranja);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    
    
}



.campo{
margin-bottom: 1rem;
}
.campo label{
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;

}

.campo  .input-text{
    padding: 1.5rem  0 ;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    color: #000000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

div input[type="submit"]{
    margin: 0 auto;
    padding: 10px;
    color: var(--naranja);
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    width: 100%;

}
div input[type="submit"]:hover{
    color: var(--naranja);
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    transition: 1s;
    width: 100%;


}

label textarea{
    height: 10rem;
}
